.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.search-container {
    text-align: center; /* Centrer le contenu dans le conteneur */
    margin:55px; /* Espace au-dessus du champ de recherche */
  
    input[type="text"] {
      padding: 10px; /* Remplissage intérieur du champ de recherche */
      border: 1px solid #ccc; /* Bordure du champ de recherche */
      border-radius: 5px; /* Coins arrondis */
    }
  
    #searchButton {
      background-color: #9BBEC8; /* Couleur de fond du bouton de recherche */
      color: #fff; /* Couleur du texte du bouton de recherche */
      padding: 10px 20px; /* Remplissage intérieur du bouton de recherche */
      border: none; /* Supprimer la bordure par défaut du bouton de recherche */
      border-radius: 5px; /* Coins arrondis du bouton de recherche */
      cursor: pointer; /* Curseur change au survol du bouton de recherche */
      margin-left: 10px; /* Espace à gauche du bouton de recherche par rapport au champ de recherche */
    }
  
    #searchButton:hover {
      background-color: #0056b3; /* Couleur de fond au survol du bouton de recherche */
    }
  }
  